<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 
  <link href="/static/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/alert.css" rel="stylesheet">
  <script src="/static/js/bootstrap.js"></script>

  <link href="https://unpkg.com/filepond/dist/filepond.css" rel="stylesheet">
  <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css" rel="stylesheet">
  <script defer src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"></script>
  <script defer src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
  <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>
  <script defer src="/js/fileUpload.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <title>MovieShelf</title>
</head>
<body>
    <%- include('../frag/header.ejs') %>

    <div class="container">
      <br>
      <%- include('../frag/error.ejs') %>
      <%- body %>
    </div>
  
</body>
</html>