<h2>AÑADIDAS RECIENTEMENTE</h2>
<br>
<div class="form-group row">
  <% peliculas.forEach(pelicula => { %>      
    <div class="form-group col-md-4">
      <figure>
        <a href="/peliculas/<%= pelicula.id %>">
          <img class="img-fluid" src="<%= pelicula.coverImagePath %>">
          <figcaption style="text-align: center;"><h5><%= pelicula.name %></h5></figcaption>
        </a>
      </figure>
    <div>
  <% }) %>
</div>