<h2>Añadidas recientemente</h2>
<div>
  <% peliculas.forEach(pelicula => { %>
<<<<<<< Updated upstream
    <a href="/peliculas/<%= pelicula.id %>">
      <img height="150" width="100" src="<%= pelicula.coverImagePath %>">
    </a>
=======
    <img height="150" width="100" src="<%= pelicula.coverImagePath %>">
>>>>>>> Stashed changes
  <% }) %>
</div>