<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="https://img.pngio.com/camera-icon-png-white-180181-free-icons-library-white-camera-icon-png-537_428.jpg" alt="" width="30" height="24" class="d-inline-block align-top">
      MovieShelf
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="/directores">Directores</a>
        <a class="nav-link active" href="/directores/nuevo">Añadir Director</a>
        <a class="nav-link active" href="/peliculas">Peliculas</a>
        <a class="nav-link active" href="/peliculas/nueva">Añadir Peliculas</a>
      </div>
    </div>
  </div>
</nav>
</header>