<header>
    <nav>
      <a href="/">MovieShelf</a>
      <ul>
        <li><a href="/directores">Directores</a></li>
        <li><a href="/directores/nuevo">Añadir Director</a></li>
        <br></br>
        <li><a href="/peliculas">Peliculas</a></li>
        <li><a href="/peliculas/nueva">Añadir Peliculas</a></li>
      </ul>
    </nav>
  </header>