<h2>Buscar Directores</h2>
<form action="/directores" method="GET">
  <label>Nombre</label>
  <input type="text" name="name" value="<%= searchOptions.name %>">
  <button type="submit">Buscar</button>
</form>
<br>
<% directores.forEach(director => { %>
  <div><%= director.name %></div>
<% }) %>