<h2>NUEVO DIRECTOR</h2>
<form action="/directores" method="POST">
  <%- include('form') %> 
  <button class="btn btn-primary" type="submit" style="margin: 20px;">Crear</button>
  <a class="btn btn-danger" href="/directores">Volver</a>
</form>