<h2>Nueva Pelicula</h2>
<<<<<<< Updated upstream
<form action="/peliculas" method="POST">
=======
<form action="/peliculas" method="POST" enctype="multipart/form-data">
>>>>>>> Stashed changes
  <%- include('form') %>
  <button type="submit">Crear</button>
  <a href="/peliculas">Volver</a>
</form>