
<h2>NUEVA PELICULA</h2>
<form action="/peliculas" method="POST">
  <%- include('form') %>
  <button class="btn btn-primary" type="submit" style="margin: 20px;">Crear</button>
  <a class="btn btn-danger" href="/peliculas" >Volver</a>
</form>